* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  border: 3px solid black;
  background-color: #ffffff;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  border: 5px solid rgb(243, 180, 18);
  padding: 50px 100px;
}
header {
  border: 3px solid blue;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}
.search-bar {
  border: 3px solid green;
}
.employee-list {
  border: 2px solid rgb(188, 74, 208);
  padding: 5px;
}
.employee-list-item {
  border: 3px solid red;
  background-color: #f9f9f9;
}
.employee {
  border: 3px solid brown;
}
