* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  margin-top: 50px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  border: 5px solid black;
  padding: 50px 100px;
}
header {
  border: 3px solid blue;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}
.search-bar {
  border: 3px solid green;
}
.employee-list {
  border: 2px solid purple;
  padding: 5px;
}
.employee-list-item {
  border: 3px solid red;
  background-color: #f9f9f9;
}
.employee {
  width: 100%;
  border: 3px solid brown;
}
